{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/operation.css') }}">
{% endblock %}

{% block title %}Opération{% endblock %}

{% block body %}
    <div class="columns is-mobile is-centered">
        <div class="column is-two-thirds-tablet is-half-desktop">
            <div class="has-text-right operation-delete">
                <a href="{{ path('operation.delete', {type: type, id: operationId}) }}" class="button is-danger is-outlined is-rounded">
                    Supprimer
                </a>
            </div>
            <section class="box">
                {% include ('operation/' ~ type ~ '.form.html.twig') with {form: form, id: (operationId is defined ? operationId : 0)} only %}
            </section>
        </div>
    </div>
{% endblock %}