{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/login.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half-tablet is-4-fullhd form-mt">
            {% if null != error %}
                {% include 'layout/error.action.html.twig' with {error: error.message|trans({}, 'security')} only %}
            {% endif %}
            {{ form(form) }}
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-size-7 has-text-centered">
            <a class="link" href="{{ path('reset_request') }}">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/login.js') }}"></script>
{% endblock %}
