{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half-desktop">
            <div class="box">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/login.js') }}"></script>
{% endblock %}
