# Environment config
/.env.local
/.env.local.php
/.env.*.local

# Symfony
/var/
!/var/.htaccess
/.web-server-pid
/vendor/
.phpunit
.phpunit.result.cache
/phpunit.xml

# Assets
/node_modules/
/public/bundles/
/public/build/
npm-debug.log
yarn-error.log

# IDE
/.idea/
/nbproject/
