.btn
{
    border-radius: $border-radius;
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    background-color: #FFFFFF;
    padding: 0.3em 0.8em;
    font-size: 1em;
    display: inline-block;
    transition: all $transition-delay;

    &:hover
    {
        cursor: pointer;
    }
}

.btn-primary
{
    color: #FFFFFF;
    border-color: $primary-color;
    background-color: $primary-color;

    &.btn-light
    {
        color: $primary-color;
        background-color: #FFF;
    }

    &:hover, &:focus, &:active
    {
        background-color: $primary-color-strong;
        border-color: $primary-color-strong;
        color: #FFF;
    }
}