$font-size-controls: 0.8em;

fieldset
{
    border: none;
    padding: 0.4em;
}

label
{
    display: inline-block;
    vertical-align: middle;
    min-width: 8em;
}

input,
select
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &:not([type="submit"])
    {
        font-size: $font-size-controls;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: $border-radius;
        padding: 0.5em;
        background-color: rgba(200, 200, 200, 0.1);
        min-width: 10em;
    }

    &:focus,
    &:active
    {
        outline: none;
        border-color: $primary-color
    }

    &.control-btn
    {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }
}

.error-form
{
    font-size: $font-size-controls;
    padding: 1em;

    span
    {
        display: block;
        color: $secondary-color;
    }
}