$input-background-color: #DDDDDD;
$input-shadow: none;
$input-hover-border-color: none;
$input-focus-box-shadow-color: none;
$input-focus-border-color: hsl(0, 0%, 21%);

.submit-field {
    margin-top: 4em;
}