@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import "colors";

.budget-button
{
    margin-left: 1em;
}

.notification, .transaction-list
{
    margin-top: 2em;
}

#month-navigation
{
    & > div:nth-child(2)
    {
        text-align: center;
    }

    & > div:last-child
    {
        text-align: right;
    }
}

.transaction
{
    &:hover
    {
        cursor: pointer;
        background-color: $white-ter;
    }
}