@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import "colors";

.account-info-tag
{
    & > span
    {
        text-decoration: underline;
        margin-right: 0.6em;
    }
    
    .fa-exclamation-triangle
    {
        margin-left: 0.5em;
    }
}

.budget-button
{
    margin-left: 1em;
}

.notification, .transaction-list
{
    margin-top: 2em;
}

#month-navigation
{
    margin-top: 1em;
    
    & > div:nth-child(2)
    {
        text-align: center;
    }

    & > div:last-child
    {
        text-align: right;
    }
}

.transaction
{
    &:hover
    {
        cursor: pointer;
        background-color: $white-ter;
    }
}

.op-target:not(.is-active)
{
    display: none;
}

.link
{
    color: $grey;
}