<div class="modal-container">
    <div class="modal" {% if id is defined %}id="modal-{{ id }}"{% endif %}>
        <div class="modal-header">
            <div class="modal-title">
                {% block title %}{% endblock %}
            </div>
            <div class="modal-close">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="modal-body">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>