{% set actualDate = 'now' | date %}

{% if is_granted('ROLE_USER') %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainnavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mainnavbar" class="navbar-menu">
            <div class="navbar-start">
                <a href="{{ path('account.view', {year: (actualDate | date('Y')), month: (actualDate | date('n'))}) }}" class="navbar-item">Accueil</a>
                <a href="#" class="navbar-item">Profil</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="{{ path('logout') }}" class="button is-danger is-outlined">Déconnexion</a>
                </div>
            </div>
        </div>
    </nav>
{% endif %}